@import url('https://fonts.gooleapis.com/css?family=Roboto');

body{
    font-family: Roboto,  sans-serif;
    width: 100%;
}
* {
   margin: 0;
   padding: 0;;
}
i {
    margin-left: 10px;
}
input:focus,
button:focus,
.form-control:focus{
  outline:none;
  box-shadow:none

}
.form-control disabled, .form-control[read-only] {
    background-color :#ffff;
 }
.table tr{
    vertical-align: middle;
}
.table tr td{
    
    vertical-align: middle;
}
.button-container{
display: flex;
align-items: center;
}
.button-container .form-control{
    max-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
}
.cart-qty-plus:active{
    background-color: red!important;
}
.cart-qty-minus:active{
    background-color: red!important;
}
#myTable .form-control{
    width: auto;
    display: inline-block;
}
.cart-qty-plus{
    width: 38px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.cart-qty-minus{
    width: 38px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;

}
.cart-qty-plus:hover,

.cart-qty-minus:hover{
    background-color: #5161ce;
}

.img-product{
    width: 80px;
    height: 80px;
    background-color: #5161ce;
    border-radius: 4px;
}
.img-product img {
    width: 100%;
}
a:hover:hover{
    background-color: #5161ce;
}
/* .like-btn:active{
    background-color: red!important;
}
 */


.row{
    justify-content: center;
}

.like{
background-color: red  !important;
}